# MARKDOWN CELLS LET YOU MAKE NOTES

In [1]:
1+1

2

In [2]:
1*3

3

In [3]:
1/2

0.5

In [4]:
2**4

16

In [5]:
4%2

0

In [6]:
5%2

1

In [8]:
var = 2
print (var)

2

In [9]:
var = 4

In [10]:
var

4

In [11]:
var = var + var

In [12]:
var

8

In [13]:
# strings

In [14]:
'single quote string'

'single quote string'

In [15]:
"double quote string"

'double quote string'

In [16]:
variable = "hello"

In [17]:
print (variable)

hello

In [21]:
name = "Simranjot" 
age = 19
print("My name is {} and I am {} years old." .format (name,age))

My name is Simranjot and I am 19 years old.

In [22]:
print("My name is {one} and {two} and another {one}".format (one = name, two = age))

My name is Simranjot and 19 and another Simranjot

In [23]:
print("My name is {} and I am {} years old and {}." .format (name,age,name))

My name is Simranjot and I am 19 years old and Simranjot.

In [25]:
string = "hello"

In [26]:
string[3]

'l'

In [27]:
string[4]

'o'

In [28]:
string[0-3]

'l'

In [30]:
string[3]

'l'

In [31]:
string = "abcdefghijk"

In [32]:
string[0:]

'abcdefghijk'

In [33]:
string[5:]

'fghijk'

In [34]:
string[:2]

'ab'

In [36]:
string[3:6]

'def'

In [37]:
[1,2,3]

[1, 2, 3]

In [38]:
my_list = ['a','b','c']

In [39]:
my_list.append(1)

In [40]:
my_list

['a', 'b', 'c', 1]

In [41]:
my_list[1:]

['b', 'c', 1]

In [42]:
my_list[:1]

['a']

In [43]:
my_list[2:4]

['c', 1]

In [44]:
my_list[2] = "BIG C"

In [45]:
my_list

['a', 'b', 'BIG C', 1]

In [46]:
array = [1,2,3,[1,2,3]]

In [48]:
array[3][1]

2

In [49]:
Three_D = [1,2,3,[4,5,6,[7,8]],9,10]
Three_D [3][3][0]

7

In [50]:
Three_D [5]

10

In [52]:
dictionary = {'key1':'insert_value', 'key2':12345}

In [53]:
dictionary ['key2']

12345

In [54]:
d = {'k1' : [5,2,3]}
d

{'k1': [5, 2, 3]}

In [55]:
d ['k1']

[5, 2, 3]

In [56]:
d['k1'][2]

3

In [57]:
my_list = d['k1']
my_list[2]

3

In [59]:
dic = {'k1' : {'ik1':[1,2,3],'ik2' : [4,5,6]}, 'k2':'moo'}
dic['k1']['ik2'][0]

4

In [60]:
my_list = dic ['k1']['ik1']
my_list[2]

3

In [61]:
{1,2,3,1,2,3}

{1, 2, 3}

In [62]:
my_list = [1,2,3,4,1,2,3,4,1,2,4,9,2,3]
set(my_list)

{1, 2, 3, 4, 9}

In [63]:
s = {1,2,3}

In [64]:
s

{1, 2, 3}

In [65]:
s.add (5)

In [66]:
s

{1, 2, 3, 5}

In [70]:
if 1<2:
    print ("you're chilling")

you're chilling

In [74]:
if 1 == 2:
    print ("moo")
elif 3 == 3:
    print ("goose")
else:
    print ('whooooo')

goose

In [76]:
if 1 == 2:  
    print ("moo")
elif 4 == 4:
    print ("hi")
elif 3 == 3:
    print ("goose")
else:
    print ('whooooo')

# note that only the first correct statement is run

hi

In [77]:
seq = [1,2,3,4,5]
for item in seq:
    print (item)

1
2
3
4
5

In [78]:
seq = [1,2,3,4,5]
for item in seq:
    print ("moo")

moo
moo
moo
moo
moo

In [81]:
i = 1
while i <= 5:
    print ("The value of i is {one}".format(one = i))
    i = i + 1

The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5

In [82]:
for item in range (0,5):
    print (item)

0
1
2
3
4

In [84]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [87]:
empty = []
list_x = [1,2,3,4,5]
for item in list_x:
    empty.append(item**2)

In [88]:
print (empty)
#This can be done much easier...Observe:

[1, 4, 9, 16, 25]

In [89]:
[item**2 for item in list_x]

[1, 4, 9, 16, 25]

In [95]:
def func(x1,x2):
    return print (x1+x2)

In [91]:
func(3,4)

7

In [102]:
def square(length):
    return length**2
    """
    This is a doc string
    (multiple line comment). 
    This function is used to square a number
    """
square(4)

16

In [99]:
Area = square(4)

In [100]:
Area

16

In [107]:
for item in range(0,10):
    print("cow")

cow
cow
cow
cow
cow
cow
cow
cow
cow
cow

In [108]:
def times2(var):
    return var*2
times2(4)

8

In [109]:
#Map time

seq = [1,2,3,4,5]
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [113]:
t = lambda var: var*3 #same as the function we previously denoted

list(map(lambda var: var*3,seq))

[3, 6, 9, 12, 15]

In [115]:
list(filter((lambda var:var%2 ==0),seq))
# Filter requires a boolean value

[2, 4]